
# Evil DS_Store
.DS_Store

# Dependency lib
fat/
DEPS/

# Xcode UserData
Ring/Ring.xcodeproj/project.xcworkspace/xcshareddata/
Ring/Ring.xcodeproj/project.xcworkspace/xcuserdata/
Ring/Ring.xcodeproj/xcuserdata/

# Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

Ring/Build/

# Carthage
Ring/Carthage/

# VSCode
.vscode/

xcframework/