github "RxSwiftCommunity/RxRealm"
github "RxSwiftCommunity/RxDataSources"
github "pkluz/PKHUD"
github "AliSoftware/Reusable"
github "SwiftyBeaver/SwiftyBeaver"
github "andreamazz/AMPopTip"
github "ashleymills/Reachability.swift"
github "stephencelis/SQLite.swift"
github "gskbyte/GSKStretchyHeaderView"
