github "RxSwiftCommunity/RxDataSources"
github "AliSoftware/Reusable"
github "SwiftyBeaver/SwiftyBeaver"
github "andreamazz/AMPopTip"
github "stephencelis/SQLite.swift"
github "gskbyte/GSKStretchyHeaderView"
github "envoy/Embassy"
